@font-face {
    font-family: PixelOne;
    src: url(/fonts/m6x11.ttf);
}

*{
    margin: 0;
    padding: 0;
    -webkit-font-smoothing : none;
}

body{
    background-color: #000814;
    color: aliceblue;
    width: 100%;
    font-family: monospace;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2{
    /*font-family: "PixelOne" !important;*/
    font-size: 32px;
}

.about, .bethB, .nameless{
    background-color: #2b2d42;
    border-radius: 10px;
    margin: 8px;
    padding: 18px;
}

.about{
    grid-column: span 3;
}

.Blue{
    width: 200px;
}

.space{
    width: 100%;
    height: 200px;
    background-image: url(../images/Spacemap002.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.space_blue{
    width: 100%;
    height: 200px;
    background-image: url(../images/big.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*#606c38  cor verde para detalhes*/

.mid{
    grid-column: span 2;
    background-color: #2b2d42;
    border-radius: 10px;
    margin: 8px;
    padding: 18px;
}
.capsule{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ships{
    width: 35%;
    margin: 20px;
}
.ship_info{
    border-left: #fff 1px solid;
    padding: 15px;
}

.mid_two{
    grid-column: span 4;
    background-color: #2b2d42;
    border-radius: 10px;
    margin: 8px;
    padding: 18px;
}
.BLUE{
    width: 25%;
    margin: 20px;
}

.grid_one{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: justify;
    width: 1080px;
}

.animate:hover{
    -webkit-box-shadow: 1px 1px 23px 4px #0096c7;
    -moz-box-shadow: 1px 1px 23px 4px #0096c7;
    box-shadow: 1px 1px 23px 4px #0096c7;
    transition: 0.5s;
}

.card{
    grid-column: span 4;
    margin: 20px;
    border-bottom: 1px solid #fff;
    font-size: 20px;
    padding: 2rem;
    text-align: left;
}

.char{
    position: relative;
    z-index: -1;
    display: inline-block;
}

.char::after{
    content: "";
    position: absolute;
    top: -0.25rem;
    left: -2rem;
    bottom: -0.25rem;
    width: calc(100% + 4rem);
    background: #0096c7;
    z-index: -1;

    transform: scaleX(0.075);
    transform-origin: left;
}
.card:hover .char::after{
    transform: scaleX(1);
    transition: transform 250ms ease-in;
}

/*NAV Bar*/
nav.menu-lateral{
    width: 60px;
    height: 100%;
    background-color: #2b2d42;
    padding: 40px 0 40px ;
    box-shadow: 3px 0 0 #0096c7;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}

nav.menu-lateral.expandir{
    width: 300px;
}

.btn-expandir{
    width: 100%;
    padding-left: 14px;
    margin-bottom: 10px;
}

.btn-expandir > i{
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}
ul li.item-menu:hover{
    background: #0096c7;
}
ul li.item-menu{
    transition: .5s;
}

ul li.ativo{
    background-color: #0096c7;
}

ul li.item-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .txt-link{
    margin-left: 70px;
    transition: 1s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link{
    margin-left: 40px;
    opacity: 1;
}

ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left: 10px;
}
/*Fim da Nav Bar*/

img {
    max-width: 100%;
    height: auto;
}

/*fazer media querie para 1190 (diminuir main width e aumantar margin left se necessario) e 610 deixar tudo em uma coluna*/ 

@media (max-width: 1190px) {
    .grid_one{
        margin-left: 60px;
    }
}

@media (max-width: 850px){
    .about{
        grid-column:span 4
    }
    .nameless{
        grid-column: span 2;
    }
    .bethB{
        grid-column: span 2;
        grid-row: 2/2;
    }
}



@media (max-width: 650px) {
    .about{
        grid-column:span 4
    }
    .nameless{
        grid-column: span 2;
    }
    .bethB{
        grid-column: span 2;
        grid-row: 2/2;
    }
    .mid{
        grid-column: span 4;
    }
    .capsule{
        flex-direction: column;
    }
}

@media (max-width: 450px){
    .nameless{
        grid-column: span 4;
    }
    .bethB{
        grid-column: span 4;
        grid-row: 3/3;
    }
}